/* You can add global styles to this file, and also import other style files */
:root {
    --surface-a:#ffffff;
    --surface-b:#fafafa;
    --surface-c:rgba(0,0,0,.04);
    --surface-d:rgba(0,0,0,.12);
    --surface-e:#ffffff;
    --surface-f:#ffffff;
    --text-color:rgba(0, 0, 0, 0.87);
    --text-color-secondary:rgba(0, 0, 0, 0.6);
    --primary-color:#673AB7;
    --primary-color-text:#ffffff;
    --font-family:Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    --surface-0: #ffffff;
}
html, body {
    margin: 10px;
    background-color: var(--surface-b);
    font-family: var(--font-family);
}


.text-layout{
    color:var(--text-color-secondary);
}
